.cont{
  display:flex;
  gap:20px;
  margin-top: 20px;
}
.cont1{
  margin-left: 10px;
  padding: 20px;
  box-shadow: -8px 0px 20px rgba(131, 125, 125, 0.25),
  8px 0px 20px rgba(135, 135, 135, 0.25);
border-radius: 8px;
  
}

.cont2{
  
  padding: 20px;
  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
  8px 0px 20px rgba(135, 135, 135, 0.25);
border-radius: 8px;
}